.authors {
  margin-left: 10%;
  margin-right: 10%;
}

.menu-authors {
  width: 20%;
  float: left;
}

.link-author {
  display: block;
  height: 2em;
}

.author-detail {
  width: 80%;
}

table, th, td {
  border: 1px solid black;
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
